// app global css in SCSS form


.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dateTime{
    display: flex;
}
.datePicker {
    margin-right:1rem
}

@import "normalize.css";
body{
    padding-top: 4rem;
}

h1{
    font-size: 1.5rem;
    margin:0;
    font-weight: 500;
}

.my-card{
    max-width: 30rem;
    margin-bottom: 4rem;
}

.card__section-one{
    padding: 0;
}


.card__image{
        display: inline-block;
        max-height: 10rem;
    }
    
.card__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    }

.card__section-one{
    padding-left: 1rem;
    padding-right: 1rem;
}

.card__ago{
    color: #B7B7B7;
}

.card__badge-list{
    display: flex;
    justify-content: space-around;
    max-width: 60%;
}

.card__badge-each{
    padding:.3rem .8rem;
    margin: 1rem;
}

.card__section-three{
    display: flex;
    justify-content: space-between;
}

.card__interested{
    display: flex;
    color:#B7B7B7;
    justify-content: flex-end;
}

.card__interested p {
    margin: 1rem;
}


.grid_page{
    display: flex;
}

.expansion_items{
    border: 10px soild red;
}

.card__view{
    padding: 5rem;
}

.expansion_items{
    max-width: 17rem;
}

.sign_out_button{
    text-align: center;
    padding-top: 3rem;
}

.account_settings{
    text-align: center;
    padding-top: 1rem;
}

.user_profile{
    text-align: center;
    margin-bottom: 1rem;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    background-color: skyblue;
}

.navbar{
    height: 5rem;
    background-color: #2096F3;
}

.banner{
    width: 78vw;
    display: flex;
    justify-content: space-between;
}

.full_view{
    position: absolute;
    top: -30;
    left: 0;
}

.full_view_list{
    margin: 2rem;
    display: flex;
}

.full_title{
    align-items: center;
    margin: 0;
    font-weight: 900;
    font-size: 2rem;
    position: absolute;
    left: 25%;
    top: 20px;
}

.full_time{
    position: absolute;
    right: 10%;
    top: 20px;

}

.full{
    font-size: 1rem;
    font-weight: 900;
}

.thin{
    padding: .3rem 3rem;
}

.full_discussion{
    padding-left: 3rem;
}

.together{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    
}

.comment-icon{
    font-size: 2rem;
    margin-left: 1rem;
}

.full-screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.9);
  }
  
  .flex-container-center {
    displaY: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  
  .full-screen{
    color: white
  }
  
  .hidden {
      display: none;
  }
  
  
  