// app global css in SCSS form
@import "normalize.css";
body{
    padding: 10rem;
}

h1{
    font-size: 1.5rem;
    margin:0;
    font-weight: 500;
}

.my-card{
    max-width: 30rem;
    margin-bottom: 4rem;
}

.card__section-one{
    padding: 0;
}


.card__image{
        display: inline-block;
        max-height: 10rem;
    }
    
.card__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    }

.card__section-one{
    padding-left: 1rem;
    padding-right: 1rem;
}

.card__ago{
    color: #B7B7B7;
}

.card__badge-list{
    display: flex;
    justify-content: space-around;
    max-width: 60%;
}

.card__badge-each{
    padding:.3rem .8rem;
    margin: 1rem;
}

.card__section-three{
    display: flex;
    justify-content: space-between;
}