// app global css in SCSS form
.dateTime{
    display: flex;
    justify-content: space-between;
}
.datePicker {
    margin-right:1rem
}

@import "normalize.css";
body{
    padding-top: 4rem;
}

h1{
    font-size: 1.5rem;
    margin:0;
    font-weight: 500;
}

.my-card{
    max-width: 30rem;
    margin-bottom: 4rem;
}

.card__section-one{
    padding: 0;
}


.card__image{
        display: inline-block;
        max-height: 10rem;
    }
    
.card__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    }

.card__section-one{
    padding-left: 1rem;
    padding-right: 1rem;
}

.card__ago{
    color: #B7B7B7;
}

.card__badge-list{
    display: flex;
    justify-content: space-around;
    max-width: 60%;
}

.card__badge-each{
    padding:.3rem .8rem;
    margin: 1rem;
}

.card__section-three{
    display: flex;
    justify-content: space-between;
}

.card__interested{
    display: flex;
    color:#B7B7B7;
    justify-content: flex-end;
}

.card__interested p {
    margin: 1rem;
}


.grid_page{
    display: flex;
}

.expansion_items{
    border: 10px soild red;
}

.card__view{
    padding: 5rem;
}

.expansion_items{
    max-width: 17rem;
}

.sign_out_button{
    text-align: center;
    padding-top: 3rem;
}

.account_settings{
    text-align: center;
    padding-top: 1rem;
}

.user_profile{
    text-align: center;
    margin-bottom: 1rem;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    background-color: skyblue;
}